@import 'style/base.css';
@import 'style/components/cards.css';
@import 'style/components/head.css';
@import 'style/components/footer.css';

.btn {
  background-color: #ccdbfd;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: 1s ease-in-out;
}

.btn:hover {
  background-color: #abc4ff;
}

.book {
  border: 5px solid black;
}

.addquizheader {
  background-color: #d7e3fc;
}

.cardbodycolor {
  background-color: #c1d3fe;
}

@media screen and (max-width: 575px) {
  .centered {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  .textcenter {
    text-align: center;
  }
}
