<div class="quiz-card">
  <h2>Question:</h2>
  <div class="question">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor
      lorem nec leo vulputate, sed cursus est pretium. Nulla eget lorem lacus.
      Vivamus in malesuada elit, in efficitur nibh. Ut ligula est, luctus
      aliquam mollis nec, scelerisque vitae massa ? Hallo
    </p>
  </div>
  <div class="btn">
    <button>Show Answer</button>
  </div>
  <div class="tag">
    <p class="tags">Lorem</p>
    <p class="tags">Lorem</p>
    <p class="tags">Lorem</p>
    <p class="tags">Lorem</p>
  </div>
</div>
