.quiz-card {
  position: relative;
  top: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: column;
  box-shadow: #03045e;
  border: 1px solid black;
  width: 90%
  padding: 1rem;
}
.question {
  display: flex;
  border: 1px solid black;
  box-shadow: hotpink;
  padding: 1rem;
  margin: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.tag {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
@media screen and (max-width: 600px) {
  .tag {
    flex-direction: column;
  }
}
.tags {
  display: flex;
  border: 1px solid black;
  padding: 1em;
}
.book {
  position: absolute;
  top: 0;
  right: 0;
}
