.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100vw;
  border: 1px solid black;
  padding: 1rem;
  background-color: grey;
}
